<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fs-4 " href="/listings"><i class="fa-solid fa-globe fa-fade me-1 fs-4" style="color: #B197FC;"></i>GlobeStay</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
       
        <a class="nav-link" href="/listings">Explore</a>
        
        
      </div>
      <div class="navbar-nav ms-auto d-flex me-2" >
         <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success"  style="background-color: #B197FC;color: white;" type="submit"><i class="fa-solid fa-magnifying-glass d-inline g-4 me-2" style="color: #ffffff;"></i>Search</button>
          </form>
      </div>
      <div class="navbar-nav ms-auto " >
        <a class="nav-link" href="/listings/new">Add New Listings</a>
        <!-- <a class="nav-link" style="color: #f00808;"  href="/signup">SignUp</a> -->
         <%if(!currUser){%>

          <a  class="nav-link" href="/login"><i class="fa-solid fa-user" style="color: #000000; margin: 5px;" ></i><b>Login</b></a>
        <% }%>
          <%if(currUser){%>
          <a class="nav-link" href="/logout"><b>Logout</b><i class="fa-solid fa-right-from-bracket" style="color: #ff0000;margin: 5px;"></i></a>
         <%}%>
        
      </div>
    </div>
  </div>
</nav>